body {
    color: hsla( 0, 0%, 100%, 1);
}

nav {
    border-color: hsla(0, 0%, 50%, 0.5) transparent;
    background-color : hsla(0, 0%, 50%, 1);
}

nav ul li{
    border-color: hsla(0, 0%, 50%, 0.2);
}

nav ul li:hover {
    background-color: hsla(0, 0%, 80%, 1);
}

#login-window {
    border-color: hsla(0, 0%, 50%, 0.3) hsla(0, 0%, 50%, 0.3) hsla(0, 0%, 50%, 0.3) hsla(0, 0%, 50%, 0.3);
    background-color: hsla(0, 0%, 100%, 1);
}

#login-window input{
    color: hsla(0, 0%, 0%, 1);
    background-color: transparent;
}

#login-form input[type="submit"] {
    background-color: hsla(210, 100%, 70%, 0.8);
}

#login-cover {
    background-color: hsla(0, 0%, 50%, 0.5);
}