.name {
    width:40%;
}

.update-time {
    width:15%;
}

.userID {
    margin-left:3%;
    width:15%;
}

.delete-button,.modify-button{
    width:5%;
    margin-left: 3%;
}

.row {
    border-bottom-style: dotted;
}



@media all and (max-width: 640px) {
    .list .row div{
        word-wrap: normal;
    }
    .list .row * {
        font-size:0.6em;
    }
    .delete-button {
        width:10%;
    }
}