.functional-panel {
    justify-content: space-between;
}

.list{

}

.list .row{
    display:-webkit-flex;
    display:flex;
    flex-flow: row;
}

@media all and (max-width: 640px) {
    .list .row div{
        word-wrap: normal;
    }
    .list .row * {
        font-size:0.6em;
    }

    .list .button{
        width: 40px;
        height:20px;
        margin-left:0;
    }
}