<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style/common/basic.css"/>
    <link rel="stylesheet" href="style/home/basic.css"/>
    <title></title>
</head>
<body>

<!--台头标题-->
<header>
    <h1>
        我的课程
    </h1>
</header>

<div id="main">

    <!-- 左侧导航栏-->
    <aside>
        <div id="logo">
            <img src="book.jpg">
            <h1>TAS</h1>
            <h3>TeachingAssistantSystem</h3>
        </div>
        <div id="nav">
            <ul>
                <li>
                    <a href="#"><img src="book.jpg">个人信息</a>
                </li>
                <li>
                    <a href="#"><img src="book.jpg">我的班级</a>
                </li>
                <li>
                    <a href = "#"><img src="book.jpg"></a>
                </li>
            </ul>
        </div>
        <div id="logout">
            <ul>
                <li>
                    <a href="#"><img src="book.jpg">退出</a>
                </li>
            </ul>
        </div>
    </aside>

    <!--右侧内容-->
    <article>
        <h3>我的通知</h3>
        <!--通知栏-->
        <section id="inform">
            <div class = "container">
                <!--通知列表-->
                <ul>
                    <li>
                        <a>通知1</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a>通知2</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a>通知3</a>
                    </li>
                </ul>
                <!--更多信息-->
                <a href="#">more..</a>
            </div>
        </section>
        <h3>进行中的课程</h3>
        <section id="class">
            <!--课程栏-->
            <div class="wrapper">
                <div class = "container">
                    <div class = "icon" >
                        <img src="book.jpg">
                        <div>
                            <h2>课程1</h2>
                            <h3>xxxxxxxxxxx</h3>
                        </div>
                    </div>
                </div>
                <div class = "container">
                    <div class = "icon" >
                        <img src="book.jpg">
                        <div>
                            <h2>课程1</h2>
                            <h3>xxxxxxxxxxx</h3>
                        </div>
                    </div>
                </div>
                <div class = "container">
                    <div class = "icon" >
                        <img src="book.jpg">
                        <div>
                            <h2>课程1</h2>
                            <h3>xxxxxxxxxxx</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>

<!--底部声明-->
<footer>
    <div>
        <h3>tas</h3>
    </div>
</footer>

</body>
</html>