<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" media="screen" href="style/index/basic.css"/>
    <script>

        function loginInit() {
            xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
                if (xhr.readyState > 1 && xhr.readyState < 4) {
                    document.getElementById("warning").innerHTML = xhr.status;
                }
                if (xhr.readyState == 4) {
                    if (xhr.status >= 200 && xhr.status <= 300 || xhr.status == 304) {
                        //server has responded
                        alert(xhr.responseText);
                    } else {

                    }
                }
            };

        }
        function login() {
            var form = document.getElementById("login-form");
            var submit = form.elements["submit"];
            var data = new FormData(form);

            xhr.open(form.method, form.action, true);
            //xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(data);
        }
        function showLogin() {
            var loginWindow = document.getElementById("login");
            loginWindow.hidden = false;
        }
        window.onload = function () {
            var loginForm = document.getElementById("login-form");
            var submit = loginForm.elements["submit"];
            loginInit();
            submit.addEventListener("click", function () {
                event.preventDefault();
                login();
            })
        }
    </script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li id="login-nav" onclick="showLogin();">
                登录
            </li>
            <li><a>关于我们</a></li>
        </ul>
    </nav>
    <div id="login" hidden="hidden">
        <div id="login-window">
            <form id="login-form" action="../control/login.php" method="post">
                <input type="text" name="username" placeholder="账号/学号">
                <input type="password" name="password" placeholder="密码">
                <input type="submit" name="submit" value="登录">
            </form>
            <p id="warning"></p>
        </div>
        <div id = "login-cover"></div>
    </div>

</header>
<section id="intro"></section>
<section>
</section>
<footer>

</footer>
</body>
</html>